<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%thread | %-5level | %logger{36} | %msg%n</pattern>
		</encoder>
	</appender>

	<springProfile name="default">
		<root level="debug">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile>

	<springProfile name="log-to-file">
		<include resource="file-appender.xml"/>
	</springProfile>
</configuration>
