name: 3.2.x | Cloud Smoke Tests | Cloud Openfeign
on:
  schedule:
    - cron : '30 0 * * *'
jobs:
  cloud_openfeign_app_test:
    name: Cloud Openfeign App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: cloud:cloud-openfeign
      task: appTest
  cloud_openfeign_native_app_test:
    name: Cloud Openfeign Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: cloud:cloud-openfeign
      task: nativeAppTest
