name: 3.2.x | Data Smoke Tests | Hateoas
on:
  schedule:
    - cron : '10 0 * * *'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  hateoas_app_test:
    name: Hateoas App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: 3.2.x
      project: data:hateoas
      task: appTest
  hateoas_native_app_test:
    name: Hateoas Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: 3.2.x
      project: data:hateoas
      task: nativeAppTest
