name: 3.2.x | Framework Smoke Tests | Webflux Netty Tls
on:
  schedule:
    - cron : '30 0 * * *'
  workflow_dispatch:
jobs:
  webflux_netty_tls_app_test:
    name: Webflux Netty Tls App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: framework:webflux-netty-tls
      task: appTest
  webflux_netty_tls_native_app_test:
    name: Webflux Netty Tls Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: framework:webflux-netty-tls
      task: nativeAppTest
