name: 3.5.x | Framework Smoke Tests | Jdbc Mariadb
on:
  schedule:
    - cron : '50 0 * * *'
  workflow_dispatch:
jobs:
  jdbc_mariadb_app_test:
    name: Jdbc Mariadb App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: framework:jdbc-mariadb
      task: appTest
  jdbc_mariadb_native_app_test:
    name: Jdbc Mariadb Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-aot-smoke-tests
      checkout_ref: main
      project: framework:jdbc-mariadb
      task: nativeAppTest
