name: Cloud Smoke Tests | Cloud Openfeign
on:
  push:
    branches:
      - '3.0.x'
jobs:
  cloud_openfeign_app_test:
    name: Cloud Openfeign App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      project: cloud:cloud-openfeign
      task: appTest
  cloud_openfeign_native_app_test:
    name: Cloud Openfeign Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      project: cloud:cloud-openfeign
      task: nativeAppTest
