name: Data Smoke Tests | Data Jdbc H2 Kotlin
on:
  push:
    branches:
      - '3.1.x'
jobs:
  data_jdbc_h2_kotlin_app_test:
    name: Data Jdbc H2 Kotlin App Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      project: data:data-jdbc-h2-kotlin
      task: appTest
  data_jdbc_h2_kotlin_native_app_test:
    name: Data Jdbc H2 Kotlin Native App Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      project: data:data-jdbc-h2-kotlin
      task: nativeAppTest
  data_jdbc_h2_kotlin_test:
    name: Data Jdbc H2 Kotlin Test
    uses: ./.github/workflows/smoke-test-jvm.yml
    secrets: inherit
    with:
      project: data:data-jdbc-h2-kotlin
      task: test
  data_jdbc_h2_kotlin_native_test:
    name: Data Jdbc H2 Kotlin Native Test
    uses: ./.github/workflows/smoke-test-native.yml
    secrets: inherit
    with:
      project: data:data-jdbc-h2-kotlin
      task: nativeTest
